@using FleetManagementWebApp.Helpers
@using System.Security.Principal
@using Microsoft.Identity.Web

    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Links: -->
            <li class="@Html.IsSelected(actions: "Index", controllers: "Home")"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> <span>Home</span></a></li>
            <li class="@Html.IsSelected(actions: "Index,Details,Create,Delete,Edit", controllers: "Vehicles")"><a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Index"><i class="fa fa-truck"></i> <span>Vehicles</span></a></li>
            <li class="@Html.IsSelected(actions: "Index,Details", controllers: "Consignments")"><a class="nav-link text-dark" asp-area="" asp-controller="Consignments" asp-action="Index"><i class="fa fa-user-circle"></i> <span>Consignments</span></a></li>
            <li class="@Html.IsSelected(actions: "Index", controllers: "Trips")"><a class="nav-link text-dark" asp-area="" asp-controller="Trips" asp-action="Index"><i class="fa fa-map"></i> <span>Trips</span></a></li>
        }
        else
        {
            <li><a class="nav-link text-dark" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn"><i class="fa fa-key"></i> Sign in</a></li>
        }
        <hr />
        @if (User.Identity.IsAuthenticated)
        {
            <li class="@Html.IsSelected(actions: "Settings", controllers: "Home")"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Settings"><i class="fa fa-gear"></i> <span>Settings</span></a></li>
        }
        <li class="@Html.IsSelected(actions: "Privacy", controllers: "Home")"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fa fa-eye"></i> <span>Privacy</span></a></li>
            <!--
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
            -->
        </ul>